@import "./base.scss";

:root {
  --color-background: black;
  --color-text: orange;
}

#page {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  cursor: none;
}

.cursor {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  
  &--small {
    width: 5px;
    height: 5px;
    left: -2.5px;
    top: -2.5px;
    border-radius: 50%;
    z-index: 11000;
    background: var(--color-text);
  }

  &--canvas {
    width: 100vw;
    height: 100vh;
    z-index: 12000;
  }
}

.link {
  display: inline-block;
  font-size: 4rem;
  cursor: none;
  outline: none;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }

  &:last-child {
    font-size: 6rem;
  }

  &:hover,
  &:focus {
    color: var(--color-text);
  }
}